:root {
    --bg-color: #001324;
    --sub-bg-color: #032d4a;

    --highlight-color: #5cffbe;
    --sub-hightlight-color: #3c9c66;
    
    --complement-color: #ffa220;
    --sub-complement-color: #c36f01;

    --fg-color: #FFFFFF;


    /* --normal-text-font: ; */

    background-color: var(--bg-color);
    color: var(--fg-color);
}


::selection {
    background-color: var( --sub-hightlight-color);
    color: white;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

table, thead {
    border-color: var(--highlight-color);
    border-style: solid;
}

table {

    width: 100%;
    
    border-collapse: collapse;
}

th {
    text-align: left;
}


/* non generics */

.container{
    display: flex;
    flex-direction: column;
}

@media only screen and (min-aspect-ratio: 3 / 2) {
    .container{
        padding-left: 10%;
        padding-right: 10%;
    }
}
