

:root {
  --bg-color: #001324;
  --sub-bg-color: #032d4a;

  --highlight-color: #51e0a7;
  --sub-hightlight-color: #60ad81;
  
  --complement-color: #f7c625;
  --sub-complement-color: #b6951f;

  --elem-color: #FFFFFF;


  /* --normal-text-font: ; */

  background-color: var(--bg-color);
  color: var(--elem-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table, thead {
  border-color: var(--highlight-color);
  border-style: solid;
}

table {
  margin-right: 10%;
  margin-left: 10%;

  width: 80%;
  
  border-collapse: collapse;
}

th {
  text-align: left;
}

