:root {
    /* cube properties */
    --cube-width: 3;
    --cube-face-size: 7em; 
    --cube-grid-gap: 0.1em;
}


.cube-square {
    user-select: inherit;
    --moz-user-select: inherit;
    --webkit-user-select: inherit;
}

.cube-face {
    display: grid;
    gap: var(--cube-grid-gap); /* always leave enough space to see the lines*/

    /* align-content: center; /* umm */

    border-radius: 0.5em;
    /* if contents of the div overflow, hide them */
    overflow: hidden;

    background-color: #000000;
    /* padding: 10px; */
    
    
    width: var(--cube-face-size);
    
    aspect-ratio: 1;

    user-select: inherit;
    --moz-user-select: inherit;
    --webkit-user-select: inherit;
}

.cube-grid {
    
    display: grid;
    gap: var(--cube-grid-gap);

    margin: auto;
    border-radius: 3em;
    background-color: var(--bg-sub-color);

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    width: calc(var(--cube-width) * var(--cube-face-size) + (var(--cube-width) - 1) * var(--cube-grid-gap));
    
    padding: 2em;

    user-select: none;
    --moz-user-select: none;
    --webkit-user-select: none;
}


