
.unset-timer-text {
    color: var(--sub-fg-color);
}

.running-timer-text {
    color: var(--complement-color);
}

.finished-timer-text {
    color: var(--highlight-color);
}

.timer-text {
    font-size: 3em;
    margin: auto;
}