:root {
    /* cube properties */
    --cube-n: 3;
    --cube-face-size: 7em; 
    --cube-grid-gap: 0.1vw;
}

.cube-square {
    /* bg color given is inline */
    user-select: inherit;
    --moz-user-select: inherit;
    --webkit-user-select: inherit;
    aspect-ratio: 1;
}

.cube-face {
    display: grid;
    gap: var(--cube-grid-gap); /* always leave enough space to see the lines*/

    /* align-content: center; /* umm */
    grid-template-columns: repeat(var(--cube-n), 1fr);
    grid-template-rows: repeat(var(--cube-n), 1fr);

    border-radius: 1vw;
    /* if contents of the div overflow, hide them */
    overflow: hidden;

    background-color: #000000;

    width: 100%;
    max-height: 100%;
    
    user-select: inherit;
    --moz-user-select: inherit;
    --webkit-user-select: inherit;
}

.cube-grid {

    /* a grid of square faces: grid of grids*/
    display: grid;
    gap: var(--cube-grid-gap);

    /*margin: auto;*/


    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    padding: 1vw;    
    aspect-ratio: 3 / 4;

    max-height: 100%;
    max-width: 100%;

    
    /* this will be slightly taller than the cube if gap is not zero. */

    user-select: none;
    --moz-user-select: none;
    --webkit-user-select: none;
}

